<% @topic_testing.score_rules.build if @topic_testing.score_rules.empty? %>
<div class='well'>
  <%= form_for [:admin, @topic_testing], :html => {:id => 'edit-topic-testing', :class => 'form-horizontal'} do |f| %>
    <fieldset>
      <legend><%= @topic_testing.new_record? ? '添加' : '修改' %>专题考核</legend>
      <div class='form-group'>
        <%= f.label :topic_id, '*所属专题', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.select :topic_id, options_from_collection_for_select(@topics, :id, :name, @topic_testing.topic_id), {}, :class => 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label :title, '*题目', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label :content, '内容', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.cktext_area :content, :ckeditor => {:height => 400} %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label :requirements, '要求', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.cktext_area :requirements, :ckeditor => {:height => 400} %>
        </div>
      </div>
      <ul class='rule-fields list-group col-lg-10 col-lg-offset-2'>
        <%= f.fields_for :score_rules do |rule_field|%>
        <li class='list-group-item'>
          <div class='form-group'>
            <%= rule_field.label :name, '评分规则名称', :class => 'col-lg-2 control-label' %>
            <div class='col-lg-10'>
            <%= rule_field.text_field :name, :class => 'form-control' %>
            </div>
          </div>
          <div class='form-group'>
            <%= rule_field.label :description, '评分规则描述', :class => 'col-lg-2 control-label' %>
            <div class='col-lg-10'>
            <%= rule_field.text_area :description, :class => 'form-control', :rows => 4 %>
            </div>
          </div>
          <div class='form-group'>
            <%= rule_field.label :score, '该项总分', :class => 'col-lg-2 control-label' %>
            <div class='col-lg-10'>
            <%= rule_field.number_field :score, :class => 'form-control' %>
            </div>
          </div>
          <div class='form-group'>
            <%= rule_field.label :_destroy, '删除', :class => 'col-lg-2 control-label' %>
            <div class='col-lg-10'>
            <%= rule_field.check_box :_destroy %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
      <div class='form-group'>
        <div class='col-lg-10 col-lg-offset-2'>
          <%= f.submit '保存', :class => 'btn btn-primary' %>
          <a href='javascript:;' class='add-rule btn btn-default'>添加评分规则</a> 
          <%= link_to '返回', :back, :class => 'btn btn-default' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
