<li>
  <div class='content'><%= answer.content %></div>
  <div class='addition'>
    <div><%= answer.answerer.name %></div>
    <div><%= l answer.created_at %></div>
  </div>
  <div class='actions'>
    <%= link_to '修改', edit_question_answer_path(@question, answer), :class => 'edit' if can?(:edit, answer) %>
    <%= link_to '删除', [@question, answer], :method => :delete, :class => 'delete' if can?(:destroy, answer) %>
  </div>
</li>
