<%= form_for @question, :html => {:id => 'question-form'} do |f| %>
  <div>
    <%= f.text_field :title, :placeholder => '写下你的问题' %>
  </div>
  <div>
    <%= f.label :content, '问题说明：' %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit '发布'%>
  </div>
<% end %>
