<% @body_id = 'question-show' %>

<div class='question'>
  <h1><%= @question.title %></h1>
  <div class='content'><%= @question.content %> </div>
  <div class='addition'>
    <span><%= @question.questioner.name %></span>
    <span><%= l @question.created_at %></span>
  </div>
  <div class='actions'>
    <%= link_to '修改', edit_question_path(@question), :remote => true, :class => 'edit' if can?(:edit, @question) %>
    <%= link_to '删除', @question, :method => :delete, :confirm => '确实要删除这个问题吗？' if can?(:destroy, @question) %>
    <%= link_to "评论(#{@question.comments.count})", question_comments_path(@question), :remote => true, :class => 'comments' %>
    <%= link_to "举报", new_question_complaint_path(@question), :remote => true, :class => 'complaints' %>
    <%= top_link %>
    <%= refine_link %>
  </div>
</div>

<ul class='answers'>
  <%= render :collection => @question.answers, :partial => 'questions/answer' %>
</ul>

<%= form_for [@question, @answer || Answer.new], :html => {:class => 'new-answer'} do |f| %>
  <%= f.text_area :content %>
  <%= f.submit '回答' %>
<% end %>
