<div class='page-header clearfix'>
  <h1>评论列表</h1>
</div>
<%= search_form_for [:admin, @search] do |f| %>
  <div class='col-lg-4'>
    <%= f.label :commentable_type_eq, '类型' %>
    <%= f.select :commentable_type_eq, {'提问' => 'Question', '回答' => 'Answer', '视频' => 'Video'}, {:include_blank => '全部'} %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :content_cont, '内容' %>
    <%= f.text_field :content_cont %>
  </div>
  <div class='col-lg-4'>
    <button type='submit'>搜索</button>
  </div>
<% end %>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>类型</th>
      <th>评论人</th>
      <th>内容</th>
      <th>时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= t("comment.commentable_type.#{comment.commentable_type}") %></td>
      <td><%= comment.commenter_name %></td>
      <td><%= link_to truncate(sanitize(comment.content), :length => 45), [:admin, comment] %></td>
      <td><%= l comment.created_at, :format => :long %></td>
      <td>
        <%= link_to '查看', [:admin, comment] %>
        <%= link_to '删除', [:admin, comment], :method => :delete, :data => {:confirm => "确定删除这条评论吗？"} %>
      </td>
    </tr>
  <% end%>
</table>
<%= paginate @comments %>
