<% @unit.videos.build if @unit.videos.empty? %>

<%= form_for [@chapter, @unit], :html => {:multipart => true} do |f| %>
  <div>
    <%= f.label :name, '单元名称' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :singular_choice_count, '单选题数' %>
    <%= f.number_field :singular_choice_count %>
  </div>
  <div>
    <%= f.label :multiple_choice_count, '多选题数' %>
    <%= f.number_field :multiple_choice_count %>
  </div>
  <div>
    <%= f.label :exam_minutes, '考试时间（分钟）' %>
    <%= f.number_field :exam_minutes %>
  </div>
  <div>
    <%= render :partial => 'admin/shared/rich_text_toolbar', :locals => {:toolbar_id => 'unit-summary-editor-toolbar'} %>
    <%= f.label :name, '单元提要' %>
    <%= f.text_area :summary, :id => 'unit-summary' %>
  </div>
  <div>
    <%= render :partial => 'admin/shared/rich_text_toolbar', :locals => {:toolbar_id => 'unit-review-editor-toolbar'} %>
    <%= f.label :name, '单元小结' %>
    <%= f.text_area :review, :id => 'unit-review' %>
  </div>
  <ol class='video-fields'>
  <%= f.fields_for :videos do |videos| %>
    <li>
      <div>
        <%= videos.label :name, '名称' %>
        <%= videos.text_field :name%>
      </div>
      <div>
        <%= videos.label :teacher_names, '讲师' %>
        <%= videos.text_field :teacher_names %>
      </div>
      <div>
        <%= videos.label :url, '视频地址' %>
        <%= videos.text_field :url %>
      </div>
      <div>
        <%= videos.label :_destroy, '删除' %>
        <%= videos.check_box :_destroy%>
      </div>
    </li>
  <% end %>
  </ol>
  <div><a class='add-video' href='javascript:;'>添加视频</a></div>
  <div>
    <%= link_to '返回', :back %>
    <%= f.submit '保存' %>
  </div>
<% end %>
