<%= form_for @subject do |f| %>
  <div>
    <%= f.label :name, '名称' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :introduction, '简介' %>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= link_to '返回', :back %>
    <%= f.submit '保存' %>
  </div>
<% end %>
