<div id='info'>
  <h1><%= @subject.name %></h1>
  <div>
    <label>简介：<%= @subject.introduction %></label>
  </div>
  <div>
    <label>课程数量：<%= @subject.course_count %></label>
  </div>
  <div>
    <label>时长：<%= @subject.length %></label>
  </div>
  <%= link_to '修改', edit_subject_path(@subject) %>
</div>

<div id='table'>
  <%= link_to '添加课程', new_subject_course_path(@subject) %>
  <table>
    <tr>
      <th>课程名称</th>
      <th>操作</th>
    </tr>
    <% @subject.courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td>
          <%= link_to '修改', edit_course_path(course) %>
          <%= link_to '删除', course, :method => :delete, :data => {:confirm => "确实要删除“#{course.name}”吗？"} %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
