<div class='well'>
  <%= form_tag student_importings_path, :multipart => true, :class => 'form-horizontal', :id => 'student-importing' do %>

    <% if flash[:notice].present? %>
      <div class='alert alert-success'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error].present? %>
      <div class='alert alert-danger'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        <%= raw flash[:error] %>
      </div>
    <% end %>
    <fieldset>
      <legend>批量报名</legend>
      <div class='form-group'>
        <label for='file' class='col-lg-2 control-label'>CSV 文件 </label>
        <div class='col-lg-10'> <%= file_field_tag :file %> </div>
      </div>
      <div class='form-group'>
        <label class='control-label col-lg-2'> 要开通的专题</label>
        <ul class='col-lg-10'>
        <% Topic.find_each do |topic| %>
          <li>
            <%= check_box_tag 'topic_ids[]', topic.id, nil, :id => "topic_#{topic.id}" %>
            <label for='topic_<%= topic.id%>'><%= topic.name %> </label>
          </li>
        <% end %>
        </ul>
      </div>
      <div class='form-group'>
        <div class='col-lg-10 col-lg-offset-2'>
          <button type='submit' class='btn btn-primary'>导入</button>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
