<div class='well'>
  <div class='page-header clearfix'>
    <h1><%= @topic_exam.student_name %>的<%= @topic_exam.name %>专题考核</h1>
  </div>
  <table class='table table-hover table-condensed table-detail'>
    <tr>
      <th>题目</th>
      <td><%= @topic_exam.title %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= @topic_exam.content %></td>
    </tr>
    <tr>
      <th>要求</th>
      <td><%= @topic_exam.requirements %></td>
    </tr>
    <tr>
      <th>上传材料</th>
      <td>
        <% @topic_exam.materials.each do |material| %>
          <div><%= link_to material.filename, material.url %></div>
          <div>备注：<%= material.note %></div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>评分</th>
      <td>
        <%= form_for @topic_exam, :url => admin_topic_exam_review_path(@topic_exam),
          :method => :patch, :html => {:class => 'form-horizontal'} do |f| %>
          <ul>
            <% @topic_exam.scores.each do |score| %>
              <%= f.fields_for :scores, score do |score_field| %>
                <li>
                  <div> <%= score.rule_name %> </div>
                  <div> <%= score.rule_description %> </div>
                  <div>
                    <%= score_field.label :score, '得分' %>
                    <%= score_field.number_field :score %>
                  </div>
                  <div>
                    <%= score_field.label :comment, '评语' %>
                    <%= score_field.text_area :comment %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
          <%= f.submit '提交' %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
