<div class="final_test">
  <% if flash[:notice] %>
    <div class='notice'><%= flash[:notice] %></div>
  <% end %>
  <h1>专题考核</h1>
  <h2>考核题目</h2>
  <div class="exam">
    <div class="exam_title">
      题目
    </div>
    <p class="exam_content"> <%= sanitize @topic_exam.title %> </p>
  </div>

  <div class="exam">
    <div class="exam_title">
      内容
    </div>
    <p class="exam_content"> <%= sanitize @topic_exam.content %> </p>
  </div>

  <div class="exam">
    <div class="exam_title">
      要求
    </div>
    <p class="exam_content"> <%= sanitize @topic_exam.requirements %> </p>
  </div>

  <div class="exam">
    <div class="exam_title">
      评分
    </div>
    <p class="exam_content"> <%= sanitize @topic_exam.grading_rules %> </p>
  </div>

  <h2>学员上传材料</h2>
  <div class="exam_answer">
    <% if @topic_exam.materials.any? %>
      <span>已上传材料</span>
      <table id="answersheet">
        <thead>
          <tr>
            <th>文件名</th>
            <th>备注</th>
            <th style="width:20%">上传时间</th>
            <th style="width:10%"></th>
          </tr>
        </thead>
        <tbody>
          <% @topic_exam.materials.each do |material| %>
          <tr>
            <td><%= material.filename %></td>
            <td><%= truncate material.note %></td>
            <td><%= l material.created_at, :format => :long %></td>
            <td><%= link_to '删除', material, :method => :delete, :data => {:confirm => '确实要删除吗？'} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <% if !@topic_exam.submitted? %>
      <%= form_for [@topic_exam, @topic_exam.materials.build], :multipart => true, :html => {:id => 'topic-exam-material-upload'} do |f| %>
        <div class="upload" >
          <div>
            <%= f.label :file, '上传材料' %>
            <%= f.file_field :file, :style =>"line-height:24px"%>
          </div>
          <div>
            <%= f.label :note, '备注' %>
            <%= f.text_area :note %>
          </div>
          <div>
            <%= f.submit '上传' %>
          </div>
        </div>
      <% end %>
      <%= form_tag submit_topic_exam_path(@topic_exam), :method => :patch, :id => 'topic-exam-submit' do |f| %>
        <%= submit_tag '交卷' %>
      <% end %>
    <% end %>
  </div>

  <% if @topic_exam.reviewed? %>
    <h2>考核结果</h2>
    <div><%= @topic_exam.reivew %></div>
    <h2>考试分数</h2>
    <div><%= @topic_exam.score %></div>
  <% end %>

  <% if current_topic_learning.exam_history.any? %>
  <h2>考核历史</h2>
  <div class="progress">
    <table id="progress">
      <thead>
      <tr>
        <th>时间</th>
        <th>结果</th>
      </tr>
      </thead>
      <tbody>
      <% current_topic_learning.exam_history.each do |exam| %>
      <tr>
        <td><%= l exam.created_at, :format => :long %></td>
        <td><%= exam.reviewed? ? exam.review : '未审核' %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
