<%= form_for :account, :url => password_path, :method => :patch do |f| %>
  <div>
    <label>
      旧密码：
      <%= f.password_field 'old_password' %>
    </label>
  </div>
  <div>
    <label>
      新密码：
      <%= f.password_field 'password' %>
    </label>
  </div>
  <div>
    <label>
      确认新密码：
      <%= f.password_field 'password_confirmation' %>
    </label>
  </div>
  <div><%= f.submit '提交' %></div>
<% end %>
