<% @article.videos.build if @article.videos.empty? %>
<% url = @article.new_record? ? admin_articles_path : admin_article_path(@article)%>
<div class='well'>
  <%= form_for @article, :as => :article, :url => url, :html => {:id => 'edit-article', :class => 'form-horizontal'} do |f| %>
    <fieldset>
      <legend><%= @article.new_record? ? '发布文章' : '编辑文章'%></legend>
      <div class='form-group'>
        <%= f.label :top, '置顶', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.check_box :top %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label :type, '类型*', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.select :type, {'最新资讯' => 'News', '课程安排' => 'CourseArrangement' , '课程介绍' => 'CourseIntroduction', '专题介绍' => 'TopicIntroduction', '案例分享' => 'CaseSharing', '在线试听' => 'TrialVideo', '常见问题' => 'FAQ', '关于平台' => 'PlatformIntroduction'}, {:include_blank => '请选择'}, :class => 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label :title, '标题*', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label :content, '内容*', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= render :partial => 'admin/shared/rich_text_toolbar', :locals => {:toolbar_id => 'article-editor-toolbar'} %>
          <%= f.text_area :content, :id => 'article-content' %>
        </div>
      </div>
      <%= render :partial => 'admin/shared/linked_videos', :locals => {:f => f} %>
      <div class='col-lg-10 col-lg-offset-2'>
        <%= f.submit '发布', :class => 'btn btn-primary' %>
        <a class='add-video btn btn-default' href='javascript:;'>添加视频</a>
      </div>
    </fieldset>
  <% end %>
</div>
