<% @body_id = 'public' %>
<% content_for(:title){ '文章列表' } %>

<div id='bread-crumbs'>
  <a href='/'>首页</a> &raquo; <a href=''>文章列表</a>
</div>
<div id='article-list'>
  <ul id='list'>
    <% @articles.each do |article| %>
      <li>
        <%= image_tag article.cover_url, :class => 'cover' if article.contains_image?  %>
        <div class='content <%= 'no-cover' if !article.contains_image? %>'>
          <h1>
            <% if article.is_a? BlogArticle %>
              <%= link_to article.title, article %>
            <% else %>
              <%= link_to article.title, article_path(article) %>
            <% end %>
          </h1>
          <div class='date'><%= l article.created_at, :format => :date_only %></div>
          <div class='summary'><%= truncate strip_tags(article.content), :length => 200, :escape => false %></div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate @articles %>
</div>
