<% @body_id = 'students-index' %>
<div class='page-header clearfix'>
  <h1>学员列表</h1>
  <ul>
    <li><%= link_to '新增学员', new_student_path, :class => 'btn btn-default' %></li>
  </ul>
</div>
<%= search_form_for @search do |f| %>
  <div class='col-lg-4'>
    <%= f.label :account_username_cont, '用户名' %>
    <%= f.text_field :account_username_cont %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :name_cont, '姓名' %>
    <%= f.text_field :name_cont %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :unit_code_cont, '单位编号' %>
    <%= f.text_field :unit_code_cont %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :province_eq, '省份' %>
    <%= f.select :province_eq, Student::PROVINCES, :include_blank => '全部' %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :topic_learnings_topic_id_eq, '在学专题' %>
    <%= f.select :topic_learnings_topic_id_eq, options_from_collection_for_select(Topic.all, :id, :name, @search.topic_learnings_topic_id_eq), :include_blank => '全部' %>
  </div>
  <div class='col-lg-4'>
    <button type='submit'>搜索</button>
    <%= link_to '导出', students_path(params.merge :format => :csv) %>
  </div>
<% end %>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>用户名</th>
      <th>姓名</th>
      <th>添加人</th>
      <th>性别</th>
      <th>单位编码</th>
      <th>注册日期</th>
      <th>习题记录</th>
      <th>考试记录</th>
      <th>操作</th>
    </tr>
  </thead>
  <% @students.each do |student| %>
    <tr>
      <td><%= link_to student.username, student %></td>
      <td><%= student.name %></td>
      <td><%= student.added_by_username %></td>
      <td><%= show_gender student %></td>
      <td><%= student.unit_code %></td>
      <td><%= l student.created_at, :format => :date_only %></td>
      <td><%= link_to '习题记录', student_unit_exams_path(student), :target => '_blank' %>
      <td><%= link_to '考试记录', '#' %>
      <td><%= link_to '删除', student, :method => :delete, :data => {:confirm => "确定删除#{student.name}吗？"} %></td>
    </tr>
  <% end%>
</table>
<%= paginate @students %>
