<%= form_for @student do |f| %>
  <div>
    <%= f.label :login, '用户名' %>
    <%= f.text_field :login %>
  </div>
  <div>
    <%= f.label :password, '密码' %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, '确认密码' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div>
    <%= f.label :name, '姓名' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :gender, '性别' %>
    <%= f.select :gender, gender_options, :include_blank => '请选择' %>
  </div>
  <div>
    <%= f.label :unit_code, '单位编码' %>
    <%= f.text_field :unit_code %>
  </div>
  <div>
    <%= f.label :note, '备注' %>
    <%= f.text_area :note %>
  </div>
  <div>
    <%= f.submit '保存' %>
  </div>
<% end %>
