<% if choice_answers.any? %>
  <h4 class="choice-heading"><%= title %></h4>
  <div class="choice-group">
    <% choice_answers.each_with_index do |answer, index| %>
      <% question = answer.question %>
      <%= f.fields_for nested_model, answer do |answer_field| %>
        <div class="choice">
          <div class="choice-status"><%= index + 1 %></div>
          <div class="choice-body">
            <div class="choice-content">
              <%= question.content %>
            </div>

            <div class="choice-option-group">
              <% question.choices.each do |choice| %>
                <div class="choice-option-group-item">
                    <% if answer.is_a? SingularChoiceAnswer %>
                      <%= answer_field.radio_button :choice_id, choice.id, :disabled => exam_over, :label => choice.content %>
                    <% else %>
                      <label class="checkbox">
                      <%= check_box_tag "unit_exam[#{nested_model}_attributes][#{index}]choice_ids[]" , choice.id, answer.choice_ids.include?(choice.id), :disabled => exam_over %>
                      <%= choice.content %>
                      </label>
                    <% end %>
                </div>
              <% end %>
            </div>

            <% if exam_over && answer.wrong? %>
              <div class="correct"> 正确答案：
                <% if answer.is_a? SingularChoiceAnswer %>
                  <%= question.correct_choice.content %>
                <% else %>
                  <ol>
                  <% question.correct_choices.each do |choice| %>
                    <li><%= choice.content %></li>
                  <% end %>
                  </ol>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
