<div class="container" id="unit_exam">
  <%= bootstrap_form_for @unit_exam do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="well">
          <% unless @unit_exam.over? %>
            <div class="page-header">
              <h1><%= @unit_exam.name %>测试</h1>
            </div>
          <% else %>
            <div class="page-header">
              <h1><%= @unit_exam.name %>测试</h1>
            </div>

            <div>得分：<span class='score'><%= @unit_exam.score %></span></div>

            <div class="alert alert-info"><%= @unit_exam.passed? ? '恭喜你通过测试！' : '您没有通过测试。'%></div>
          <% end %>
          <div class="questions">
            <h3>单元练习</h3>
            <%= render :partial => 'choice_answers', 
              :object => @unit_exam.singular_choice_answers, 
              :locals => {:f => f, :nested_model => :singular_choice_answers, :title => '单选题', :exam_over => @unit_exam.over? } %>

            <%= render :partial => 'choice_answers',
              :object => @unit_exam.multiple_choice_answers,
              :locals => {:f => f, :nested_model => :multiple_choice_answers, :title => '多选题', :exam_over => @unit_exam.over? } %>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <% unless @unit_exam.over? %>
      <div class="well">
        <div>开始时间：<%= l @unit_exam.created_at, :format => :time_only %></div>
        <div>结束时间：<%= l @unit_exam.end_at, :format => :time_only %></div>
        <div>剩余时间：<span data-seconds="<%= @unit_exam.rest_seconds %>"></span></div>

        <%= f.button '哪些题目未做？', :class => 'btn btn-primary', :data => {:event => 'exam.unmark'} %>
        <%= f.button '交卷', :class => 'btn btn-primary', :data => {:event => 'exam.submit'} %>
        <%= f.hidden_field :submitted, :data => {:event => 'exam.submitted'} %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>