<%= form_for @topic do |f| %>
  <div>
    <%= f.label :name, '名称' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :guide_video_url, '专题导学' %>
    <%= f.text_field :guide_video_url %>
  </div>
  <div>
    <%= f.label :review_video_url, '专题小结' %>
    <%= f.text_field :review_video_url %>
  </div>
  <div>
    <%= f.label :introduction, '简介' %>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= link_to '返回', :back %>
    <%= f.submit '保存' %>
  </div>
<% end %>
