<div class='well'>
  <div class='page-header clearfix'>
    <h1>专题信息</h1>
  </div>
  <table class='table table-hover table-condensed table-detail'>
    <tr>
      <th>名称：</th>
      <td><%= @topic.name %></td>
    </tr>
    <tr>
      <th>章节数量：</th>
      <td><%= @topic.chapter_count %></td>
    </tr>
    <tr>
      <th>时长：</th>
      <td><%= @topic.duration %></td>
    </tr>
    <tr>
      <th>简介：</th>
      <td><%= @topic.introduction %></td>
    </tr>
    <tr>
      <th>督导：</th>
      <td class='supervision'><%= raw @topic.supervision %></td>
    </tr>
  </table>
  <%= link_to '修改', edit_admin_topic_path(@topic), :class => 'btn btn-default' %>
</div>
  

<div class='page-header clearfix'>
  <h2>章节列表</h2>
  <ul>
    <li><%= link_to '添加章节', new_admin_topic_chapter_path(@topic), :class => 'btn btn-default' %></li>
  </ul>
</div>
<% if @topic.chapters.any? %>
  <table class='table table-horizontal table-striped table-hover'>
    <thead>
      <tr>
        <th class='col-lg-11'>名称</th>
        <th class='col-lg-1'>操作</th>
      </tr>
    </thead>
    <% @topic.chapters.each do |chapter| %>
      <tr>
        <td><%= link_to chapter.name, [:admin, chapter] %></td>
        <td>
          <%= link_to '修改', edit_admin_chapter_path(chapter) %>
          <%= link_to '删除', [:admin, chapter], :method => :delete, :data => {:confirm => "确实要删除“#{chapter.name}”吗？"} %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
