<div class="timeline-entry">
  
  <% if chapter_learning.open? %>
  <div class="timeline-status timeline-status-success">
    <span class="glyphicon glyphicon-ok"></span>
  </div>
  <% else %>
  <div class="timeline-status">
    <span class="glyphicon glyphicon-remove"></span>
  </div>
  <% end %>

  <div class="timeline-body panel panel-timeline">
    <div class="panel-heading">
      <small>第<%= chapter_learning_counter + 1 %>节</small>
      <%= chapter_learning.name %>
    </div>
    <div class="panel-body">
      <a href="javascript:void(0);" class="btn btn-sm btn-primary">更多信息</a>
      <% if chapter_learning.has_only_one_unit? && chapter_learning.open? %>
        <% unit_learning = chapter_learning.unit_learnings.first %>
        <hr>
        <em class="pull-right"><%= unit_learning.average_score %></em>
        <div class="btn-group">
          <%= link_to '开始学习', unit_learning, :class => 'btn btn-sm btn-primary' %>
          <%= unit_exam_link unit_learning, 'btn btn-sm btn-primary' %>
        </div>
      <% end %>
    </div>
    <% if !chapter_learning.has_only_one_unit? %>
    <div class="panel-body panel-body-items">
      <%= render :collection => chapter_learning.unit_learnings, :partial => 'learning/chapter_learnings/unit_learning' %>
    </div>
    <% end %>
  </div>
</div>
