<li>
  <img src='' class='cover'/>
  <div class='info'>
    <h1><%= chapter_learning.name %></h1>
    <p><%= chapter_learning.introduction %></p>
    <ul class='units'>
      <% chapter_learning.unit_learnings.each do |unit_learning| %>
        <% if unit_learning.open? %>
          <li><%= link_to unit_learning.name, unit_learning %></li>
          <% if unit_learning.ready_for_exam? %>
            <% if unit_learning.unfinished_exam %>
              <li><%= link_to '继续测试', unit_exam_path(unit_learning.unfinished_exam) %></li>
            <% else %>
              <li><%= link_to '开始测试', unit_learning_unit_exams_path(unit_learning), :method => :post %></li>
            <% end %>
          <% end %>
        <% else %>
          <li><span><%= unit_learning.name %></span></li>
        <% end %>
      <% end %>
    </ul>
    <div class='state'>
      <span class='minutes'>已学：3小时</span>
      <span class='testing-state'>通过考试</span>
      <span class='average-score'>平均分：80</span>
    </div>
  </div>
</li>
