<li>
  <h2><%= unit_learning.name %></h2>
  <% if unit_learning.open? %>
    <%= link_to '单元提要', '#'%>
    <%= link_to '开始学习', unit_learning %>
    <%= unit_exam_link unit_learning%>
    <%= link_to '单元小结', '#'%>
    <div class='state'>
      <span class='testing-state'><%= unit_exam_state unit_learning %></span>
      <span class='average-score'>平均分：<%= unit_learning.average_score %></span>
      <span class='hours'>已学：<%= unit_learning_hours unit_learning %>小时</span>
    </div>
  <% else %>
    <span class='inactive'>暂未开放</span>
  <% end %>
</li>
