<% content_for(:title){ "专题：#{current_topic_learning.name}" } %>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-bottom: 30px; margin-top: -30px;">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div style="width: 100%; background: #ebdcb7;">
        <img src="<%= image_path 'chapter_learning_example-3.png' %>" style="display:block; margin: 0 auto;">
      </div>
    </div>
    <div class="item">
      <div style="width: 100%; background: #b6936a;">
        <img src="<%= image_path 'chapter_learning_example-2.png' %>" style="display:block; margin: 0 auto;">
      </div>
    </div>
    <div class="item">
      <div style="width: 100%; background: #edffff;">
        <img src="<%= image_path 'chapter_learning_example-4.png' %>" style="display:block; margin: 0 auto;">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>


<div class="container">

  <div class="row">
    <div class="col-md-9">

      <div class="timeline">

        <!-- 切换专题 -->
        <div class="timeline-entry">
          <div class="timeline-status timeline-status-primary">
            <span class="glyphicon glyphicon-cloud"></span>
          </div>
          <div class="timeline-body panel panel-timeline">
            <div class="panel-heading">
              <small>点击标签切换专题</small>
            </div>
            <div class="panel-body">
              <% current_user.topic_learnings.each do |topic_learning| %>
                <% if topic_learning == current_topic_learning %>
                  <span class='label label-default'><%= topic_learning.name %></span>
                <% else %>
                  <%= link_to topic_learning.name, [:learning, topic_learning], :class => 'label label-primary' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <!-- 专题简介 -->
        <div class="timeline-entry">
          <div class="timeline-status timeline-status-inverse">
            <span class="glyphicon glyphicon-cloud"></span>
          </div>
          <div class="timeline-body panel panel-timeline">
            <div class="panel-heading">
              <small>专题</small>
              <%= current_topic_learning.name %>
            </div>
            <div class="panel-body">
              <img src="<%= image_path 'chapter_learning_example.jpg' %>" class="grid-margin-h" width="100%">
              <p>
                <%= current_topic_learning.topic.introduction %>
              </p>
            </div>
          </div>
        </div>

        <!-- 专题导学 -->
        <div class="timeline-entry">
          <div class="timeline-status timeline-status-inverse">
            <span class="glyphicon glyphicon-bookmark"></span>
          </div>
          <div class="timeline-body panel panel-timeline">
            <div class="panel-heading">
              专题导学
            </div>
            <div class="panel-body">
              <%= link_to '查看内容', learning_guide_path, :class => 'btn btn-sm btn-primary' %>
            </div>
          </div>
        </div>

        <%= render :partial => 'learning/chapter_learnings/chapter_learning', :collection => chapter_learnings %>

        <!-- 专题小结 -->
        <div class="timeline-entry">
          <div class="timeline-status timeline-status-inverse">
            <span class="glyphicon glyphicon-bookmark"></span>
          </div>
          <div class="timeline-body panel panel-timeline">
            <div class="panel-heading">
              专题小结
            </div>
            <div class="panel-body">
              <%= link_to '查看内容', learning_review_path, :class => 'btn btn-sm btn-primary' %>
            </div>
          </div>
        </div>

        <% if current_topic_learning.testing %>
        <!-- 专题考核 -->
        <div class="timeline-entry">
          <div class="timeline-status timeline-status-inverse">
            <span class="glyphicon glyphicon-bookmark"></span>
          </div>
          <div class="timeline-body panel panel-timeline">
            <div class="panel-heading">
              专题考核
            </div>
            <div class="panel-body">
                <% if current_topic_learning.ready_for_exam? %>
                  <%= link_to '开始考核', learning_exam_path, :class => 'btn btn-sm btn-primary' %>
                <% else %>
                  <%= link_to '查看', [:learning, current_topic_learning.unreviewed_exam], :class => 'btn btn-sm btn-primary' %>
                <% end %>
            </div>
          </div>
        </div>
        <% end %>
        <div class="timeline-entry">
          <div class="timeline-status timeline-status-rounded">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">

      <div class="profile">
        <img src="<%= image_path 'avatar/3.jpg' %>" class="profile-object img-circle">
        <div class="profile-body">
          <%= current_user.name %>(<%= current_user.username %>)
          <div class="state">
            <strong>状态：</strong><%= topic_learning_state current_topic_learning %>
          </div>
          <div class="period">
            <% if !current_topic_learning.out_of_period? %>
            <strong>有效期：</strong><%= current_topic_learning.current_learning_period.actually_end_on %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">通知公告</div>
        <ul class="list-group">
          <% current_topic_learning.announcements.each do |announcement| %>
              <li class="list-group-item"><%= link_to announcement.title, [:learning, announcement] %></li>
          <% end %>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          我的问题
          <div class="actions">
            <a href="#">更多</a>
          </div>
        </div>
        <ul class="list-group">
          <% current_user.questions.last(5).each do |question| %>
            <li class="list-group-item">
              <%= link_to question.title, [:ask, question] %>
            </li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div>
