<ul class='navigator'>
  <li><a href='/'>首页</a></li>
  <% PlatformIntroduction.find_each do |introduction| %>
    <li><%= link_to introduction.title, article_path(introduction) %>
  <% end %>
  <li><%= link_to '登录', sign_in_path %></li>
</ul>
<div class='articles'>
  <h1>最新资讯</h1>
  <ul>
    <% @news.each do |news| %>
    <li>
      <%= link_to news.title, article_path(news) %>
      <span class='date'><%= l news.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'News') %>
</div>
<div class='articles'>
  <h1>课程安排</h1>
  <ul>
    <% @course_arrangements.each do |arrangement| %>
    <li>
      <%= link_to arrangement.title, article_path(arrangement) %>
      <span class='date'><%= l arrangement.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'CourseArrangement') %>
</div>
<div class='articles'>
  <h1>课程介绍</h1>
  <ul>
    <% @course_introductions.each do |introduction| %>
    <li>
      <%= link_to introduction.title, article_path(introduction) %>
      <span class='date'><%= l introduction.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'CourseIntroduction') %>
</div>
<div class='articles'>
  <h1>专题介绍</h1>
  <ul>
    <% @topic_introductions.each do |introduction| %>
    <li>
      <%= link_to introduction.title, article_path(introduction) %>
      <span class='date'><%= l introduction.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'TopicIntroduction') %>
</div>
<div class='articles'>
  <h1>案例分享</h1>
  <ul>
    <% @case_sharings.each do |case_sharing| %>
    <li>
      <%= link_to case_sharing.title, article_path(case_sharing) %>
      <span class='date'><%= l case_sharing.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'CaseSharing') %>
</div>
<div class='articles'>
  <h1>常见问题</h1>
  <ul>
    <% @faqs.each do |faq| %>
    <li>
      <%= link_to faq.title, article_path(faq) %>
      <span class='date'><%= l faq.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'FAQ') %>
</div>
