<ul class='navigator'>
  <li><a href='/'>首页</a></li>
  <% PlatformIntroduction.find_each do |introduction| %>
    <li><%= link_to introduction.title, article_path(introduction) %>
  <% end %>
  <li><%= link_to '登录', sign_in_path %></li>
</ul>

<div class='news'>
  <h1>最新资讯</h1>
  <ul class='top'>
  <% News.top.each do |article| %>
    <li>
      <%= image_tag article.cover_url if article.contains_image? %>
      <%= link_to article.title, article_path(article) %>
      <div class='summary'>
      <%= truncate(strip_tags(article.content), :length => 100) %>
      </div>
    </li>
  <% end %>
  </ul>
  <ul class='non-top'>
    <% @news.each do |news| %>
    <li>
      <%= link_to news.title, article_path(news) %>
      <span class='date'><%= l news.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'News') %>
</div>

<div class='articles'>
  <h1>课程安排</h1>
  <ul class='top'>
  <% CourseArrangement.top.each do |article| %>
    <li>
      <%= image_tag article.cover_url if article.contains_image? %>
      <%= link_to article.title, article_path(article) %>
      <div class='summary'>
      <%= truncate(strip_tags(article.content), :length => 100) %>
      </div>
    </li>
  <% end %>
  </ul>
  <ul>
    <% @course_arrangements.each do |arrangement| %>
    <li>
      <%= link_to arrangement.title, article_path(arrangement) %>
      <span class='date'><%= l arrangement.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'CourseArrangement') %>
</div>

<div class='articles'>
  <h1>课程介绍</h1>
  <ul class='top'>
  <% CourseIntroduction.top.each do |article| %>
    <li>
      <%= image_tag article.cover_url if article.contains_image? %>
      <%= link_to article.title, article_path(article) %>
      <div class='summary'>
      <%= truncate(strip_tags(article.content), :length => 100) %>
      </div>
    </li>
  <% end %>
  </ul>
  <ul>
    <% @course_introductions.each do |introduction| %>
    <li>
      <%= link_to introduction.title, article_path(introduction) %>
      <span class='date'><%= l introduction.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'CourseIntroduction') %>
</div>

<div class='articles'>
  <h1>专题介绍</h1>
  <ul class='top'>
  <% TopicIntroduction.top.each do |article| %>
    <li>
      <%= image_tag article.cover_url if article.contains_image? %>
      <%= link_to article.title, article_path(article) %>
      <div class='summary'>
      <%= truncate(strip_tags(article.content), :length => 100) %>
      </div>
    </li>
  <% end %>
  </ul>
  <ul>
    <% @topic_introductions.each do |introduction| %>
    <li>
      <%= link_to introduction.title, article_path(introduction) %>
      <span class='date'><%= l introduction.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'TopicIntroduction') %>
</div>

<div class='articles'>
  <h1>案例分享</h1>
  <ul class='top'>
  <% CaseSharing.top.each do |article| %>
    <li>
      <%= image_tag article.cover_url if article.contains_image? %>
      <%= link_to article.title, article_path(article) %>
      <div class='summary'>
      <%= truncate(strip_tags(article.content), :length => 100) %>
      </div>
    </li>
  <% end %>
  </ul>
  <ul>
    <% @case_sharings.each do |case_sharing| %>
    <li>
      <%= link_to case_sharing.title, article_path(case_sharing) %>
      <span class='date'><%= l case_sharing.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'CaseSharing') %>
</div>

<div class='articles'>
  <h1>学员风采</h1>
  <ul>
    <% @blog_articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
      <span class='date'><%= l article.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', blog_articles_path %>
</div>

<div class='articles'>
  <h1>常见问题</h1>
  <ul class='top'>
  <% FAQ.top.each do |article| %>
    <li>
      <%= image_tag article.cover_url if article.contains_image? %>
      <%= link_to article.title, article_path(article) %>
      <div class='summary'>
      <%= truncate(strip_tags(article.content), :length => 100) %>
      </div>
    </li>
  <% end %>
  </ul>
  <ul>
    <% @faqs.each do |faq| %>
    <li>
      <%= link_to faq.title, article_path(faq) %>
      <span class='date'><%= l faq.created_at, :format => :date_only %></span>
    </li>
    <% end %>
  </ul>
  <%= link_to '更多...', articles_path(:type => 'FAQ') %>
</div>
