<% @body_id = 'public' %>
<div id='left'>
  <div class='news'>
    <div class='header'>
      <h1>最新资讯</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'News'), :class => 'more' %>
    </div>
    <ul>
      <% @news.each do |news| %>
      <li>
        <%= link_to news.title, article_path(news) %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class='students'>
    <div class='header'>
      <h1>学员风采</h1>
      <%= link_to raw('更多&raquo;'), blog_articles_path, :class => 'more' %>
    </div>
    <ul>
      <% @blog_articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
      <% end %>
    </ul>
  </div>


  <div class='faq'>
    <div class='header'>
      <h1>常见问题</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'FAQ'), :class => 'more' %>
    </div>
    <ul>
      <% @faqs.each do |faq| %>
      <li>
        <%= link_to faq.title, article_path(faq) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id='center'>
  <div class='course-introduction'>
    <div class='header'>
      <h1>课程介绍</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'CourseIntroduction'), :class => 'more' %>
    </div>
    <ul>
      <% @course_introductions.each do |introduction| %>
      <li>
        <%= image_tag introduction.cover_url, :class => 'cover' if introduction.contains_image? %>
        <div class='content <%= 'no-cover' if !introduction.contains_image? %>'>
          <h1><%= link_to introduction.title, article_path(introduction) %></h1>
          <%= truncate sanitize(strip_tags(introduction.content)), :length => 80, :escape => false %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class='topic-introduction'>
    <div class='header'>
      <h1>专题介绍</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'TopicIntroduction'), :class => 'more' %>
    </div>
    <ul>
      <% @topic_introductions.each do |introduction| %>
      <li>
        <%= image_tag introduction.cover_url, :class => 'cover' if introduction.contains_image? %>
        <div class='content <%= 'no-cover' if !introduction.contains_image? %>'>
          <h1><%= link_to introduction.title, article_path(introduction) %></h1>
          <%= truncate sanitize(strip_tags(introduction.content)), :length => 80, :escape => false %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<div id='right'>
  <div class='course-arrangement'>
    <div class='header'>
      <h1>课程安排</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'CourseArrangement'), :class => 'more' %>
    </div>
    <ul>
      <% @course_arrangements.each do |arrangement| %>
      <li>
        <%= link_to arrangement.title, article_path(arrangement) %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class='online-trial'>
    <div class='header'>
      <h1>在线试听</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'TrialVideo'), :class => 'more' %>
    </div>
    <ul>
      <% @trial_videos.each do |trial_video| %>
      <li>
        <%= link_to trial_video.title, article_path(trial_video) %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class='case-sharing'>
    <div class='header'>
      <h1>案例分享</h1>
      <%= link_to raw('更多&raquo;'), articles_path(:type => 'CaseSharing'), :class => 'more' %>
    </div>
    <ul>
      <% @case_sharings.each do |case_sharing| %>
      <li>
        <%= link_to case_sharing.title, article_path(case_sharing) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
