<% content_for(:title){ @blog_article.title } %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to '首页', learning_root_path %></li>
        <li><%= link_to '个人博客', learning_blog_articles_path %></li>
        <li class="active"><%= @blog_article.title %></li>
      </ol>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h1><%= @blog_article.title %></h1>
          <%= sanitize @blog_article.content %>
          <%= link_to '编辑',  edit_learning_blog_article_path(@blog_article) if can?(:edit, @blog_article) %>
          <%= link_to '删除',  [:learning, @blog_article], :method => :delete, :data => {:confirm => "确实要删除《#{@blog_article.title}》吗？"} if can?(:destroy, @blog_article) %>
          <%= publish_link @blog_article, :method => :patch %>
        </div>
      </div>
    </div>
  </div>
</div>
