<div class='page-header clearfix'>
  <h1>通知列表</h1>
  <ul>
    <% if policy(:announcement).create? %>
      <li><%= link_to '发布通知', new_admin_announcement_path, :class => 'btn btn-default' %></li>
    <% end %>
  </ul>
</div>
<%= search_form_for [:admin, @search] do |f| %>
  <div class='col-lg-4'>
    <%= f.label :topic_id_eq, '所属专题' %>
    <%= f.select :topic_id_eq, Topic.all.map{|topic| [topic.name, topic.id]}, :include_blank => '全部' %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :publisher_account_username_cont, '发布人' %>
    <%= f.text_field :publisher_account_username_cont %>
  </div>
  <div class='col-lg-4'>
    <%= f.label :title_cont, '标题' %>
    <%= f.text_field :title_cont%>
  </div>
  <div class='col-lg-4'>
    <%= f.label :content_cont, '内容' %>
    <%= f.text_field :content_cont%>
  </div>
  <div class='col-lg-4'>
    <button type='submit'>搜索</button>
  </div>
<% end %>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>所属专题</th>
      <th>标题</th>
      <th>内容</th>
      <th>发布人</th>
      <th>发布日期</th>
      <th>操作</th>
    </tr>
  </thead>
  <% @announcements.each do |announcement| %>
    <tr>
      <td><%= announcement.topic_name %></td>
      <td><%= announcement.title %></td>
      <td><%= truncate strip_tags(announcement.content), :length => 30, :escape => false %></td>
      <td><%= announcement.publisher_username %></td>
      <td><%= l announcement.created_at, :format => :date_only %></td>
      <td>
        <%= link_to '查看', [:admin, announcement] if policy(announcement).show? %>
        <%= link_to '修改', edit_admin_announcement_path(announcement) if policy(announcement).edit? %>
        <%= link_to '删除', [:admin, announcement], :method => :delete, :data => {:confirm => '确定删除这个通知吗？'} if policy(announcement).destroy? %>
      </td>
    </tr>
  <% end%>
</table>
<%= paginate @announcements %>
