<% content_for(:title){@question.title} %>
<% @answer ||= Answer.new %>
<% @answer.attachments.build %>
<%= render :partial => 'ask/questions/question_show', :locals => {:question => @question} %>

<div class="info">
  <div class="info-heading">
    <h2>共<%= @question.answers.count %>个回答</h2>
    <div class="info-bar">
      <ul class="nav">
        <li <%= raw('class="active"') if @order == 'vote_score' %>><a href="?order=vote_score">得票数</a></li>
        <li <%= raw('class="active"') if @order == 'created_at' %>><a href="?order=created_at">时间先后</a></li>
      </ul>
    </div>
  </div>

  <div class="info-body media-items">
    <%= render :collection => @question.answers, :partial => 'ask/questions/answer' %>
  </div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-circle" src="<%= image_path 'avatar/5.jpg' %>" width="48" height="48">
  </a>
  <div class="media-body">
    <div><%= current_user.name %></div>
    <div class="contents">
      <%= bootstrap_form_for [:ask, @question, @answer] do |f| %>
        <%= f.cktext_area :content, :rows => 5, :placeholder => '添加您的回答', hide_label: true %>
        <ul class='list-group attachment-fields'>
          <%= f.fields_for :attachments do |attachment_fields| %>
            <li class='list-group-item'>
              <%= attachment_fields.file_field :file, :hide_label => true %>
              <%= attachment_fields.check_box :_destroy, :label => '删除' %>
            </li>
          <% end %>
        </ul>
        <button type='button' class='add-attachment btn btn-default'>添加附件</button>
        <%= f.submit '发布回答', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
