<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object img-circle" src="<%= image_path 'avatar/1.jpg' %>" width="48" height="48">
	</a>
	<div class="media-body">
		<h4 class="media-heading"><%= @question.title %></h4>
		<div class='contents'><%= sanitize @question.content %></div>
		<div class="actions">
			<span class="fa fa-calendar"></span> <%= l @question.created_at, :format => :short %> / <span class="fa fa-user"></span>
      <%= @question.questioner_name %>
			<span class="media-fade">
				/
				<%= link_to '修改', edit_question_path(@question), :remote => true, :data => {:event => 'question.edit'} if can?(:edit, @question) %>
				<%= link_to '删除', @question, :method => :delete, :data => {:confirm => '确实要删除这个问题吗？'} if can?(:destroy, @question) %>
				<%= link_to "评论(#{@question.comments.count})", question_comments_path(@question), :remote => true, :data => {:event => 'comment.query'} %>
				<%= link_to "举报", new_question_complaint_path(@question), :remote => true, :data => {:event => 'complaints'} %>
				<%= top_link %>
				<%= refine_link %>
			</span>
			<div class="action-comments-box"></div>
		</div>
	</div>
</div>

<div class="info">
	<div class="info-heading">
		<h2>共<%= @question.answers.count %>个回答</h2>
		<div class="info-bar">
			<ul class="nav">
				<li <%= raw('class="active"') if @order == 'vote_score' %>><a href="?order=vote_score">得票数</a></li>
				<li <%= raw('class="active"') if @order == 'created_at' %>><a href="?order=created_at">时间先后</a></li>
			</ul>
		</div>
	</div>

	<div class="info-body media-items">
		<%= render :collection => @question.answers, :partial => 'ask/questions/answer' %>
	</div>
</div>

<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object img-circle" src="<%= image_path 'avatar/5.jpg' %>" width="48" height="48">
  </a>
  <div class="media-body">
    <div><%= current_user.name %></div>
    <div class="contents">
  	  <%= bootstrap_form_for [@question, @answer || Answer.new] do |f| %>
  		<%= f.text_area :content, :id => 'answer-editor', :rows => 5, :placeholder => '添加您的回答', hide_label: true %>
  	    <%= f.submit '发布回答' %>
  	  <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('#answer-editor').editor();
	});
</script>
