<div class="bs-component col-lg-6 col-lg-offset-3">
  <ul class="list-group">
    <% if policy(:period_application).audit? && @unreviewed_period_application_count > 0 %>
      <li class='list-group-item'>
        <span class='badge'><%= @unreviewed_period_application_count %></span>
        <%= link_to '待处理的学员申请', admin_period_applications_path  %>
      </li>
    <% end %>

    <% if policy(:topic_exam).review? && @unreviewed_topic_exam_count > 0 %>
      <li class='list-group-item'>
        <span class='badge'><%= @unreviewed_topic_exam_count %></span>
        <%= link_to '待评分的试卷', admin_topic_exam_reviews_path %>
      </li>
    <% end %>

    <% if policy(:blog_article).index? && @unreviewed_blog_article_count > 0 %>
      <li class='list-group-item'>
        <span class='badge'><%= @unreviewed_blog_article_count %></span>
        <%= link_to '待审核的博文', admin_blog_articles_path %>
      </li>
    <% end %>
  </ul>
</div>
