<div class="media">
	<a class="pull-left" href="#">
		<img class="media-object img-rounded" src="/assets/avatar/2.jpg" width="32" height="32">
	</a>
	<div class="media-body">
		<div class="author">
			<%= comment.commenter_name %>
		</div>
		<div class="contents">
			<%= comment.content %>
		</div>

		<div class="actions">
		  <span><%= l comment.created_at, :format => :short %></span>
		  <%= link_to '删除', [:ask, comment], :method => 'delete', :remote => true, :data => { :confirm => '确实要删除这个评论吗？', :event => 'comment.remove' } if can?(:destroy, comment) %>
		  <%= link_to '举报', new_ask_comment_complaint_path(comment), :remote => true, :data => { :event => 'complaints' } %>
		</div>
	</div>
</div>
