<div class="panel panel-default">
  <div class="panel-heading"><%= topic_learning.name %>：<%= topic_learning_state topic_learning %></div>
  <div class="panel-body">
    <% if !topic_learning.has_unreviewed_application? %>
      <%= form_tag learning_periods_path, :class => 'form-horizontal period-application' do %>
        <%= hidden_field_tag 'topic_learning_id', topic_learning.id %>
        <div class="form-group">
          <label class="col-sm-2 control-label">类型</label>
          <div class="col-sm-10">
            <%= select_tag 'type', options_for_select({'延学' => 'learning', '休学' => 'leaving', '恢复' => 'resuming'}), :include_blank => true, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">开始时间</label>
          <div class="col-sm-10">
            <%= date_field_tag 'start_on', nil, :id => "start-on-#{topic_learning.id}", :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group end">
          <label class="col-sm-2 control-label">结束时间</label>
          <div class="col-sm-10">
            <%= date_field_tag 'end_on', nil, :id => "end-on-#{topic_learning.id}", :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= submit_tag '申请', :class => 'btn btn-primary' %>
          </div>
        </div>
        
        <hr>
      <% end %>
    <% end %>

    <ul class='learning_periods'>
      <%= render :partial => 'learning_period', :collection => topic_learning.learning_periods %>
    </ul>
  </div>
</div>
