<div class='page-header clearfix'>
  <h1>社区版块</h1>
  <ul>
    <% if policy(:forum).create? %>
      <li><%= link_to '新增版块', new_admin_forum_path, :class => 'btn btn-default' %></li>
    <% end %>
  </ul>
</div>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>名称</th>
      <th>所属分类</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <% @forums.each do |forum| %>
    <tr>
      <td><%= forum.name %></td>
      <td><%= forum.catalog_name %></td>
      <td><%= l forum.created_at, :format => :short %></td>
      <td>
        <%= link_to '修改', edit_admin_forum_path(forum) if policy(forum).edit? %>
        <%= link_to '删除', [:admin, forum], :method => :delete, :data => {:confirm => "确实要删除#{forum.name}吗？"} if policy(forum).destroy? %>
      </td>
    </tr>
  <% end%>
</table>
