<div class='page-header clearfix'>
  <h1>社区版块</h1>
  <ul>
    <li><%= link_to '新增版块', new_forum_path, :class => 'btn btn-default' %></li>
  </ul>
</div>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>名称</th>
      <th>所属分类</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <% @forums.each do |forum| %>
    <tr>
      <td><%= forum.name %></td>
      <td><%= forum.catalog_name %></td>
      <td><%= l forum.created_at, :format => :short %></td>
      <td>
        <%= link_to '修改', edit_forum_path(forum) %>
        <%= link_to '删除', '' %>
      </td>
    </tr>
  <% end%>
</table>
