<div class='navigator'>
  <h1><%= @video_watching.chapter_name %></h1>
  <% if !@video_watching.unit_learning.only_child? %>
  <div class='unit-selector'>
    <span class='current'><%= @video_watching.unit_name %></span>
    <ul>
      <% current_chapter_learning.unit_learnings.each do |unit_learning| %>
        <% if unit_learning.open? %>
          <li><%= link_to unit_learning.name, unit_learning %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class='player'>
  <video id='video'></video>
  <ul class='video-selector'>
    <% @video_watching.siblings.each do |video_watching| %>
      <li><%= link_to image_tag(''), video_watching  %></li>
    <% end %>
    <li><a href='#'><img src=''/></a></li>
  </ul>
</div>

<div class='comments-and-notes'>
  <div class='comments'>
    <h1>评论</h1>
    <%= form_for [@video_watching.video, Comment.new], :remote => true, :html => {:id => 'video-comment'} do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '发布' %>
    <% end %>
    <%= render :partial => 'learning/comments/comments', :object => @video_watching.comments.page(1).per(5), :locals => {:commentable => @video_watching.video} %>
  </div>
  <div class='notes'>
    <h1>笔记</h1>
    <%= form_for [@video_watching, Note.new], :remote => true, :html => {:id => 'video-note'} do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '保存' %>
    <% end %>
    <%= render :partial => 'learning/notes/notes', :object => @video_watching.notes.page(1).per(5), :locals => {:video_watching => @video_watching} %>
  </div>
</div>

<% content_for :head do %>
<script type='text/javascript'>
		var flashvers = {};
		flashvers.mp4_url = "<%= @video_watching.url %>";
		flashvers.dianping = "true";
		flashvers.save_dx = 10;//每隔多长时间存储一次数据，以秒为单位
		flashvers.over_per = 1.5;//非点评版课程，观看多少倍视为完成
		flashvers.xml_url = "<%= @video_watching.metadata_file_url %>";
		flashvers.public_root = "/sound/";
		flashvers.event_sound_root = "<%= @video_watching.root_path %>";//这是语音文件地址，mp3文件名已经写到xml中，但只是个文件名，前面加上存放路径即可找到该声音文件
		flashvers.flash_xml = "";//由flash存储的XML数据，每次启动页面时传递该数据，如果没有，则为“”
		
		var params = {};
		params.menu="false";
		params.allowFullScreen="true";
		params.allowScriptAccess="sameDomain";
		params.wmode="opaque";
		
		swfobject.embedSWF("/flashplayer/player.swf", "video", "100%", "100%", "10.3.0", "/flashplayer/expressInstall.swf",flashvers,params);
</script>
<% end %>
