<% @body_id = 'video-watching' %>
<header>
  <% if @video_watching.unit_learning.only_child? %>
    <h1>课程学习：<%= @video_watching.chapter_name %></h1>
  <% else %>
    <h1>课程学习：<%= @video_watching.unit_name %></h1>
    <div class='unit-selector'>
      <span>课程列表</span>
      <ul>
        <% @chapter_learning.unit_learnings.each do |unit_learning| %>
          <% if unit_learning.open? %>
            <li><%= link_to unit_learning.name, unit_learning %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='video-info'>
    <span>时长：<%= @video_watching.duration %>分钟</span>
    <span>教师：<%= @video_watching.teacher_names %></span>
    <%= unit_exam_link @video_watching.unit_learning %>
  </div>
</header>

<div class='player'>
  <video id='video'></video>
</div>

<% if @unit_learning.video_watchings.any? %>
    <div class='switcher'>
        <ul class='video-selector'>
          <li class='.list-title'><h3>视频列表</h3></li>
            <% @unit_learning.video_watchings.each do |video_watching| %>
              <li><%= link_to video_watching.name, video_watching %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class='comments-and-notes'>
  <div class='switcher'>
    <div class='comments' data-control='comments'>课程评论</div>
    <div class='notes' data-control='notes'>记事本</div>
  </div>
  <div class='comments'>
    <%= render :partial => 'learning/comments/comments', 
      :object => @video_watching.comments.page(1).per(5), 
      :locals => {:commentable => @video_watching.video} %>

    <%= form_for [@video_watching.video, Comment.new], :remote => true, :html => {:id => 'video-comment'} do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '发表评论' %>
    <% end %>
  </div>

  <div class='notes'>
    <%= render :partial => 'learning/notes/notes',
      :object => @video_watching.notes.page(1).per(5),
      :locals => {:video_watching => @video_watching} %>

    <%= form_for [@video_watching, Note.new], :remote => true, :html => {:id => 'video-note'} do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '保存记事' %>
    <% end %>
  </div>
</div>

<% content_for :head do %>
<script type='text/javascript'>
    var flashvers = {};
    flashvers.mp4_url = "<%= @video_watching.url %>";
    flashvers.dianping = "true";
    flashvers.save_dx = 10;
    flashvers.over_per = 1.5;
    flashvers.xml_url = "<%= @video_watching.metadata_file_url %>";
    flashvers.public_root = "/sound/";
    flashvers.event_sound_root = "<%= @video_watching.root_path %>";
    //flashvers.flash_xml = '';
    flashvers.flash_xml = '<flash start_time="0" played_time="0">  <e s="0"/>  <e s="0"/>  <e s="2"/>  <e s="2"/>  <e s="0"/>  <e s="0"/>  <e s="0"/>  <e s="0"/></flash>';
    
    var params = {};
    params.menu="false";
    params.allowFullScreen="true";
    params.allowScriptAccess="sameDomain";
    params.wmode="opaque";
    
    swfobject.embedSWF("/flashplayer/player.swf", "video", "850px", "480px", "10.3.0", "/flashplayer/expressInstall.swf",flashvers,params);

    function swf_save_data(time, xml) {
      $.post('<%= video_watching_path @video_watching %>',{
        _method: 'patch',
        data: xml.replace(/[\r\n]/g,'')
      });
    }
</script>
<% end %>
