<% content_for(:title){ "#{@video_watching.unit_name}：#{@video_watching.name}"} %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <% if @video_watching.unit_learning.only_child? %>
          <h1><%= @video_watching.chapter_name %></h1>
        <% else %>
          <h1><%= @video_watching.unit_name %></h1>
        <% end %>
        <span>时长：<%= @video_watching.duration %>分钟</span>
        <span>教师：<%= @video_watching.teacher_names %></span>
      </div>

      <div class="well">
        <video id="video"></video>
      </div>      

      <div class="well" id="comments-notes">
        <ul class="nav nav-pills" style="margin-bottom: 20px;">
          <li class="active"><a href="#comments" data-toggle="tab">评论</a></li>
          <li><a href="#notes" data-toggle="tab">笔记</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="comments">

            <div class="list">
              <%= render :partial => 'learning/comments/comments', 
                :object => @video_watching.comments.page(1).per(5), 
                :locals => {:commentable => @video_watching.video} %>
            </div>

            <%= bootstrap_form_for [:learning, @video_watching.video, Comment.new], :remote => true do |f| %>
              <%= f.text_area :content %>
              <%= f.submit '发表评论' %>
            <% end %>

          </div>
          <div class="tab-pane" id="notes">

            <div class="list">
              <%= render :partial => 'learning/notes/notes',
                :object => @video_watching.notes.page(1).per(5),
                :locals => {:video_watching => @video_watching} %>
            </div>

            <%= bootstrap_form_for [:learning, @video_watching, Note.new], :remote => true do |f| %>
              <%= f.text_area :content %>
              <%= f.submit '保存记事' %>
            <% end %>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-body">
          <%= unit_exam_link @video_watching.unit_learning, 'btn btn-primary btn-block' %>
          <%= mode_switch_link @video_watching, 'btn btn-default btn-block' %>
        </div>
      </div>

      <% if @video_watching.unit_learning.only_child? %>
      <% else %>
      <div class="panel panel-default">
        <div class="panel-heading">课程列表</div>
          <ul class="list-group">
            <% @chapter_learning.unit_learnings.each do |unit_learning| %>
              <% if unit_learning.open? %>
                <li class="list-group-item"><%= link_to unit_learning.name, [:learning, unit_learning] %></li>
              <% end %>
            <% end %>
          </ul>
      </div>
      <% end %>

      <div class="panel panel-default">
        <div class="panel-heading">视频列表</div>
        <% if @unit_learning.video_watchings.any? %>
          <ul class="list-group">
            <% @unit_learning.video_watchings.each do |video_watching| %>
            <li class="list-group-item"><%= link_to video_watching.name, [:learning, video_watching] %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% content_for :head do %>
<script type='text/javascript'>
    var flashvers = {};
    flashvers.mp4_url = "<%= @video_watching.url %>";
    flashvers.dianping = "<%= @video_watching.with_comment? %>";
    flashvers.save_dx = 10;
    flashvers.over_per = 1.5;
    flashvers.xml_url = "<%= @video_watching.metadata_file_url %>";
    flashvers.public_root = "/sound/";
    flashvers.event_sound_root = "<%= @video_watching.root_path %>";
    //flashvers.flash_xml = '';
    flashvers.flash_xml = '<%= raw @video_watching.playing_data %>';
    
    var params = {};
    params.menu="false";
    params.allowFullScreen="true";
    params.allowScriptAccess="sameDomain";
    params.wmode="opaque";
    
    swfobject.embedSWF("/flashplayer/player.swf", "video", "630px", "480px", "10.3.0", "/flashplayer/expressInstall.swf",flashvers,params);

    function swf_save_data(time, xml) {
      $.post('<%= learning_video_watching_path @video_watching %>',{
        _method: 'patch',
        data: xml.replace(/[\r\n]/g,'')
      });
    }
</script>
<% end %>
