<div class='navigator'>
  <h1><%= @video_watching.chapter_name %></h1>
  <% if !@video_watching.unit_learning.only_child? %>
  <div class='unit-selector'>
    <span class='current'><%= @video_watching.unit_name %></span>
    <ul>
      <% current_chapter_learning.unit_learnings.each do |unit_learning| %>
        <% if unit_learning.open? %>
          <li><%= link_to unit_learning.name, unit_learning %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class='player'>
  <video id='video'></video>
  <ul class='video-selector'>
    <% @video_watching.siblings.each_with_index do |video_watching, index| %>
      <li><%= link_to video_watching.name, video_watching, :class => (index.odd? ? 'odd' : 'even') %></li>
    <% end %>
  </ul>
</div>

<div class='comments-and-notes'>
  <div class='comments'>
    <h1>评论</h1>
    <%= form_for [@video_watching.video, Comment.new], :remote => true, :html => {:id => 'video-comment'} do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '发布' %>
    <% end %>
    <%= render :partial => 'learning/comments/comments', :object => @video_watching.comments.page(1).per(5), :locals => {:commentable => @video_watching.video} %>
  </div>
  <div class='notes'>
    <h1>笔记</h1>
    <%= form_for [@video_watching, Note.new], :remote => true, :html => {:id => 'video-note'} do |f| %>
      <%= f.text_area :content %>
      <%= f.submit '保存' %>
    <% end %>
    <%= render :partial => 'learning/notes/notes', :object => @video_watching.notes.page(1).per(5), :locals => {:video_watching => @video_watching} %>
  </div>
</div>

<% content_for :head do %>
<script type='text/javascript'>
    var flashvers = {};
    flashvers.mp4_url = "<%= @video_watching.url %>";
    flashvers.dianping = "true";
    flashvers.save_dx = 10;
    flashvers.over_per = 1.5;
    flashvers.xml_url = "<%= @video_watching.metadata_file_url %>";
    flashvers.public_root = "/sound/";
    flashvers.event_sound_root = "<%= @video_watching.root_path %>";
    flashvers.flash_xml = '<%= raw @video_watching.playing_data %>';
    
    var params = {};
    params.menu="false";
    params.allowFullScreen="true";
    params.allowScriptAccess="sameDomain";
    params.wmode="opaque";
    
    swfobject.embedSWF("/flashplayer/player.swf", "video", "850px", "480px", "10.3.0", "/flashplayer/expressInstall.swf",flashvers,params);

    function swf_save_data(time, xml) {
      $.post('<%= video_watching_path @video_watching %>',{
        _method: 'patch',
        data: xml.replace(/[\r\n]/g,'')
      });
    }
</script>
<% end %>
