<div id='info'>
  <h1>
    <%= link_to @chapter.topic_name, @chapter.topic %>：
    <%= @chapter.name %>
  </h1>
  <div>
    <label>简介：<%= @chapter.introduction %></label>
  </div>
  <%= link_to '修改', edit_chapter_path(@chapter) %>
</div>

<div id='table'>
  <%= link_to '添加单元', new_chapter_unit_path(@chapter) %>
  <table>
    <tr>
      <th>课程名称</th>
      <th>操作</th>
    </tr>
    <% @chapter.units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, unit %></td>
        <td>
          <%= link_to '修改', edit_unit_path(unit)%>
          <%= link_to '删除', unit, :method => :delete, :data => {:confirm => "确实要删除“#{unit.name}”吗？"}%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
