<div id='info'>
  <h1>
    <%= link_to @course.subject_name, @course.subject %>：
    <%= @course.name %>
  </h1>
  <%= link_to '修改', edit_course_path(@course) %>
</div>

<div id='table'>
  <%= link_to '添加章节', new_course_chapter_path(@course) %>
  <table>
    <tr>
      <th>课程名称</th>
      <th>操作</th>
    </tr>
    <% @course.chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.name %></td>
        <td>
          <%= link_to '修改', edit_chapter_path(chapter)%>
          <%= link_to '删除', chapter, :method => :delete, :data => {:confirm => "确实要删除“#{chapter.name}”吗？"}%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
