<div class='well'>
  <%= form_for [:admin, @question], :html => {:class => 'form-horizontal'} do |f| %>
    <fieldset>
      <legend>修改习题</legend>
      <div class='form-group'>
        <%= f.label :content, '题干', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.text_area :content, :class => 'form-control' %>
        </div>
      </div>
      <div class='form-group'>
        <%= f.label '选项', :class => 'col-lg-2 control-label' %>
        <ul class='choice-fields list-group col-lg-10'>
          <%= f.fields_for :choices do |choice_fields| %>
            <li class='list-group-item'>
              <div>
                <%= choice_fields.text_field :content, :class => 'form-control' %>
                <label> <%= choice_fields.check_box :_destroy %> 删除 </label>
                <label> <%= choice_fields.check_box :correct %> 正确答案 </label>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class='form-group'>
        <div class='col-lg-10 col-lg-offset-2'>
          <a href='javascript:;' class='add-choice btn btn-default' >添加选项</a>
          <%= link_to '返回', [:admin, @question.unit], :class => 'btn btn-default' %>
          <%= f.submit '保存', :class => 'btn btn-primary' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
