<div class='well'>
  <%= form_for [:admin, @question], :html => {:class => 'form-horizontal'} do |f| %>
    <fieldset>
      <legend>修改习题</legend>
      <div class='form-group'>
        <%= f.label :content, '题干', :class => 'col-lg-2 control-label' %>
        <div class='col-lg-10'>
          <%= f.text_area :content, :class => 'form-control' %>
        </div>
      </div>
      <% @question.choices.each_with_index do |choice, index| %>
        <%= f.fields_for :choices, choice do |choice_fields| %>
          <div class='form-group'>
            <%= choice_fields.label :content, "选项#{index + 1}", :class => 'col-lg-2 control-label' %>
            <div class='col-lg-10'>
              <%= choice_fields.text_field :content, :class => 'form-control' %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class='form-group'>
        <div class='col-lg-10 col-lg-offset-2'>
          <%= f.submit '保存', :class => 'btn btn-primary' %>
          <%= link_to '返回', :back, :class => 'btn btn-default' %>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>
