<!DOCTYPE html>
<html>
  <head>
    <title>管理后台</title>
    <%= stylesheet_link_tag "admin", media: "all" %>
    <%= javascript_include_tag "admin" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body id='<%= @body_id %>'>
    <div class='navbar navbar-default'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/admin'>建德教育</a>
      </div>
      <div class='navbar-collapse'>
        <ul class='nav navbar-nav'>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>学员维护<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <% if policy(:student).index? %>
                <li><%= link_to '学员管理', admin_students_path %></li>
              <% end %>
              <% if policy(:monthly_online_tracking).index? %>
                <li><%= link_to '时间跟踪', admin_monthly_online_trackings_path %></li>
              <% end %>
              <% if policy(:topic_learning).index? %>
                <li><%= link_to '报名管理', admin_topic_learnings_path %></li>
              <% end %>
              <% if policy(:period_application).index? %>
                <li><%= link_to '申请处理', admin_period_applications_path %></li>
              <% end %>
            </ul>
          </li>

          <% if policy(:topic).index? %>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>内容维护<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to '课程管理', admin_topics_path %></li>
              <li><%= link_to '案例与资料', admin_topic_materials_path %></li>
            </ul>
          </li>
          <% end %>

          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>专题考核<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <% if policy(:topic_testing).index? %>
                <li><%= link_to '试题管理', admin_topic_testings_path %></li>
              <% end %>
              <% if policy(:topic_exam_assignment).index? %>
                <li><%= link_to '答卷分配', admin_topic_exam_assignments_path %></li>
              <% end %>
              <% if policy(:topic_exam).review? %>
                <li><%= link_to '答卷评分', admin_topic_exam_reviews_path %></li>
              <% end %>
              <% if policy(:topic_exam).index? %>
                <li><%= link_to '成绩查询', admin_topic_exams_path %></li>
              <% end %>
            </ul>
          </li>

          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>问答社区<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to '进入社区', ask_root_path, :target => '_blank' %></li>
              <% if policy(:forum_catalog).index? %>
                <li><%= link_to '版块分类', admin_forum_catalogs_path %></li>
              <% end %>
              <% if policy(:forum).index? %>
                <li><%= link_to '版块', admin_forums_path %></li>
              <% end %>
              <% if policy(:complaint).index? %>
                <li><%= link_to '举报管理', admin_complaints_path %></li>
              <% end %>
            </ul>
          </li>
          <% if policy(:comment).index? %>
            <li> <%= link_to '评论管理', admin_comments_path %> </li>
          <% end %>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>首页管理<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <% if policy(:article).index? %>
                <li><%= link_to '栏目文章', admin_articles_path %></li>
              <% end %>
              <% if policy(:blog_article).index? %>
                <li><%= link_to '博客发表', admin_blog_articles_path %></li>
              <% end %>
            </ul>
          </li>
          <% if policy(:announcement).index? %>
            <li><%= link_to '通知管理', admin_announcements_path %></li>
          <% end %>
          <% if policy(:administrator).index? %>
            <li><%= link_to '后台用户管理', admin_administrators_path %></li>
          <% end %>
          <% if policy(:setting).edit? %>
            <li><%= link_to '平台设置', edit_admin_setting_path %></li>
          <% end %>
          <li><%= link_to '退出登录', session_path, :method => :delete %></li>
        </ul>
      </div>
    </div>
    <div class='container'>
      <% if flash[:notice].present? %>
        <div class='alert alert-success'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= raw flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class='alert alert-danger'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= raw flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer> &copy;建德教育 </footer>
  </body>
</html>
