<!DOCTYPE html>
<html>
  <head>
    <title>管理后台</title>
    <%= stylesheet_link_tag "admin", media: "all" %>
    <%= javascript_include_tag "admin" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body id='<%= @body_id %>'>
    <div class='navbar navbar-default'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>建德教育</a>
      </div>
      <div class='navbar-collapse'>
        <ul class='nav navbar-nav'>
          <% if policy(:student).manage? %>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>学员维护<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to '学员管理', admin_students_path %></li>
              <li><%= link_to '时间跟踪', admin_monthly_online_trackings_path %></li>
              <li><%= link_to '报名管理', admin_topic_learnings_path %></li>
              <li><%= link_to '申请处理', admin_period_applications_path %></li>
            </ul>
          </li>
          <% end %>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>内容维护<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to '课程管理', admin_topics_path %></li>
              <li><%= link_to '案例与资料', admin_topic_materials_path %></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>专题考核<b class='caret'></b></a>
            <ul class='dropdown-menu'>

              <li><%= link_to '出题', admin_topic_testings_path %></li>
              <li><%= link_to '审核', admin_topic_exam_reviews_path %></li>
              <li><%= link_to '查询', admin_topic_exams_path %></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>问答社区<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to '版块分类', admin_forum_catalogs_path %></li>
              <li><%= link_to '版块', admin_forums_path %></li>
            </ul>
          </li>
          <li class='dropdown'>
            <a href='javascript:;' class='dropdown-toggle' data-toggle='dropdown'>首页管理<b class='caret'></b></a>
            <ul class='dropdown-menu'>
              <li><%= link_to '栏目文章', admin_articles_path %></li>
              <li><%= link_to '学员风采', admin_blog_articles_path %></li>
            </ul>
          </li>
          <li><%= link_to '通知管理', admin_announcements_path %></li>
          <li><%= link_to '后台用户管理', admin_administrators_path %></li>
        </ul>
      </div>
    </div>
    <div class='container'>
      <% if flash[:notice].present? %>
        <div class='alert alert-success'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= raw flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class='alert alert-danger'>
          <button type='button' class='close' data-dismiss='alert'>&times;</button>
          <%= raw flash[:error] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <footer> &copy;建德教育 </footer>
  </body>
</html>
