<!DOCTYPE html>
<html>
  <head>
    <title>管理后台</title>
    <%= stylesheet_link_tag "admin/manifest", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "admin/manifest", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id='<%= @body_id %>'>
    <div id='navigation'>
      <ul class='categories'>
        <li>
          <h2>内容维护</h2>
          <ul>
            <li><%= link_to '专题管理', subjects_path %></li>
          </ul>
        </li>
      </ul>
    </div>
    <div id='content'>
      <%= yield %>
    </div>
  </body>
</html>
