<!DOCTYPE html>
<html>
  <head>
    <title>教育平台</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body id='<%= @body_id %>'>
    <%= yield %>
    <div id='footer'>
      <span id='copyright'>&copy; 建德教育</div>
    </div>
  </body>
</html>
