<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>问答频道 / 建德教育</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "ask/manifest", media: "all" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "ask/ie" %>
    <![endif]-->
    <%= javascript_include_tag "ask/manifest" %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse navbar-global">
        <div class="container">
          <a class="navbar-brand" href="/">建德教育 <span>问答</span></a>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="#"><i class="fa fa-tag"></i> 教学</a></li>
            <li><a href="#"><i class="fa fa-clipboard"></i> 习题</a></li>
            <li><a href="#"><i class="fa fa-github-alt"></i> 督导</a></li>
            <li class="active"><a href="#"><i class="fa fa-comment"></i> 社区</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">个人主页</a></li>
                <li><a href="#">学员申请</a></li>
                <li class="divider"></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">设置</a></li>
                <li class="divider"></li>
                <li><a href="#">退出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">

        <div class="col-md-9" id="mainarea">
          <%= yield %>
        </div>
        
        <div class="col-md-3">

          <div class="well well-board">
            <%= link_to(new_question_path, :class => 'btn btn-inverse btn-block J_askBtn') do %>
              <span class="glyphicon glyphicon-plus"></span>
              提问
            <% end %>
          </div>

          <div class="well well-board">
            <form role="search">
              <div class="input-group" style="margin-bottom: 10px;">
                  <input type="text" class="form-control" placeholder="找问题">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" style="height: 34px;">搜索</button>
                  </span>
              </div>
            </form>
          </div>

          <div class="panel-group panel-accordion" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    类别1
                  </a>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <ul class="panel-nav">
                    <li class="active"><a href="#">SUBCATEGORY (30)</a></li>
                    <li><a href="#">SUBCATEGORY (12)</a></li>
                    <li><a href="#">SUBCATEGORY (1)</a></li>
                    <li><a href="#">SUBCATEGORY (99+)</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  类别2
                </a>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="panel-nav">
                    <li class="active"><a href="#">SUBCATEGORY (30)</a></li>
                    <li><a href="#">SUBCATEGORY (12)</a></li>
                    <li><a href="#">SUBCATEGORY (1)</a></li>
                    <li><a href="#">SUBCATEGORY (99+)</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  类别3
                </a>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  <ul class="panel-nav">
                    <li class="active"><a href="#">SUBCATEGORY (30)</a></li>
                    <li><a href="#">SUBCATEGORY (12)</a></li>
                    <li><a href="#">SUBCATEGORY (1)</a></li>
                    <li><a href="#">SUBCATEGORY (99+)</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="well well-board">
            <img data-src="holder.js/100%x200/#eee:#e5e5e5">
          </div>

        </div>
      </div>
    </div>

    <footer>
      <div class="container">
        <p>Copyright © 2011-2014 Alexander.</p>
        <p>浙ICP备12004937号</p>
      </div>
    </footer>

  </body>
</html>