<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>问答频道 / 建德教育</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "ask/manifest", media: "all" %>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "common/ie" %>
    <![endif]-->
    <%= javascript_include_tag "ask/manifest" %>
    <%= yield :head %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse navbar-global">
        <div class="container">
          <a class="navbar-brand" href="/">建德教育 <span>课程学习</span></a>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#"><i class="fa fa-home"></i> 课程学习</a></li>
            <li><a href="#"><i class="fa fa-tag"></i> 案例解读</a></li>
            <li><a href="#"><i class="fa fa-clipboard"></i> 资料</a></li>
            <li><a href="#"><i class="fa fa-comment"></i> 社区</a></li>
            <li><a href="#"><i class="fa fa-github-alt"></i> 督导</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">个人主页</a></li>
                <li><a href="#">学员申请</a></li>
                <li class="divider"></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">设置</a></li>
                <li class="divider"></li>
                <li><a href="#">退出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <p>Copyright © 2011-2014 Alexander.</p>
        <p>浙ICP备12004937号</p>
      </div>
    </footer>

  </body>
</html>