<!DOCTYPE html>
<html>
  <head>
    <title>学习</title>
    <%= stylesheet_link_tag "learning/manifest", media: "all" %>
    <%= javascript_include_tag "learning/manifest" %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body id='<%= @body_id %>'>
    <div id='header'>
      <div class='wrapper'>
        <h1>XXX心理教学实操平台</h1>
        <ul id='navigator'>
          <li><%= link_to '首页', learning_path %></li>
          <li><a href='#'>案例解读</a></li>
          <li><a href='#'>问答社区</a></li>
          <li><a href='#'>案例督导</a></li>
          <li><a href='#'>学习指导</a></li>
        </ul>
        <div id='user'>
          <img src=''/>
        </div>
        <div id='topic-selector'>
          <span class='current'><%= current_topic_learning.name %></span>
          <ul>
            <% current_user.topic_learnings.each do |topic_learning| %>
              <li><%= link_to topic_learning.name, topic_path(topic_learning) %></li>
              <li><%= link_to topic_learning.name, topic_path(topic_learning) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div id='content'> <%= yield %> </div>
    <div id='footer'>
      <div class='wrapper'>
        <span id='copyright'>&copy; 建德教育</div>
      </div>
    </div>
  </body>
</html>
