<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>问答频道 / 建德教育</title>
    <%= csrf_meta_tags %>
    <%= javascript_tag  do %>
      setInterval(function(){
        $.post('<%= learning_heartbeats_path %>');
      }, <%= MonthlyOnlineTracking::INTERVAL_MILLISECONDS %>);
    <% end %>
    <%= stylesheet_link_tag "ask", media: "all" %>
    <%= javascript_include_tag "learning" %>
    <%= yield :head %>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-inverse navbar-global">
        <div class="container">
          <%= link_to raw('建德教育<span>课程学习</span>'), learning_root_path, :class => 'navbar-brand' %>
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><%= link_to raw('<i class="fa fa-home"></i> 课程学习'), learning_root_path %></li>
            <li><%= link_to raw('<i class="fa fa-tag"></i> 案例解读'), learning_case_analyses_path %></li>
            <li><%= link_to raw('<i class="fa fa-clipboard"></i> 资料'), learning_extended_topic_materials_path %></li>
            <li><%= link_to raw('<i class="fa fa-comment"></i> 社区'), ask_root_path %></li>
            <li><a href="#"><i class="fa fa-github-alt"></i> 督导</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to '个人博客', learning_blog_articles_path %></li>
                <li><%= link_to '学员申请', learning_periods_path %></li>
                <li class="divider"></li>
                <li><%= link_to '修改密码', edit_learning_password_path %></li>
                <li><%= link_to '学员信息', learning_profile_path %></li>
                <li><a href='#'>平台设置</a></li>
                <li class="divider"></li>
                <li><%= link_to '退出登录', session_path, :method => :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <p>Copyright © 2011-2014 Alexander.</p>
        <p>浙ICP备12004937号</p>
      </div>
    </footer>

  </body>
</html>
