<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>问答频道 / 建德教育</title>
    <%= csrf_meta_tags %>
    <%= javascript_tag  do %>
      setInterval(function(){
        $.post('<%= learning_heartbeats_path %>');
      }, <%= MonthlyOnlineTracking::INTERVAL_MILLISECONDS %>);
    <% end %>
    <%= stylesheet_link_tag "ask", media: "all" %>
    <%= javascript_include_tag "learning" %>
    <%= yield :head %>
  </head>
  <body>
    <%= render :partial => 'layouts/navigator', :locals => {:index_link => link_to(raw('建德教育<span>课程学习</span>'), learning_root_path, :class => 'navbar-brand')} %>

    <%= yield %>

    <footer>
      <div class="container">
        <p>Copyright © 2011-2014 Alexander.</p>
        <p>浙ICP备12004937号</p>
      </div>
    </footer>

  </body>
</html>
